body {
    background-color: black;
    overflow: hidden;
}

.hideoutContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.audioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}